.tabs {
    display: flex;
}
.btn {
    padding: 14px 16px;
    border: none;
    margin-right: 3px;
    font-size: 16px;
    font-weight: 700;
}
.block {
    display: none;
}
.active-block {
    display: block;
}
.title {
    font-family: sans-serif;
}
.text {
    font-size: 16px;
}